.button {
	font-size: 14px;
	line-height: 140%;
	padding: 4px 8px;
	outline: none;
	border: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: var(--color-text-light);
	cursor: pointer;
	background: var(--color-default-button);
	&:hover {
		background: var(--color-default-button-hover);
	}

	&:not(.disabled) {
		&.primary {
			background: var(--color-primary);
			&:hover {
				background: var(--color-primary-hover);
			}
		}
		&.warning {
			background: var(--color-warning);
			&:hover {
				background: var(--color-warning-hover);
			}
		}
		&.danger {
			background: var(--color-danger);
			&:hover {
				background: var(--color-danger-hover);
			}
		}
	}

	&.disabled {
		background: var(--color-input-disable);
		&:hover {
			background: var(--color-input-disable);
		}
	}
}
