.playing-game-info {
	.title {
		font-size: 16px;
		margin-bottom: 4px;
		white-space: nowrap;
	}
	font-size: 14px;
	.status-bot-game {
		display: flex;
		align-items: center;
	}
	.bots-length-wrapper {
		margin-bottom: 4px;
	}
	.status-bot-game-die {
		color: var(--color-danger);
	}
	.status-bot-game-name {
		width: 170px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-bottom: 4px;
	}
	.status-bot-game-position {
		overflow: hidden;
		white-space: nowrap;
	}
}
