.link-button {
	font-size: 14px;
	line-height: 22px;
	padding: 0 8px;
	border-radius: 5px;
	outline: none;
	border: none;
	cursor: pointer;
	background: transparent;
	color: var(--color-primary);
	&:hover {
		background: var(--color-hover-item);
	}

	&:not(.disabled) {
		&.primary {
			color: var(--color-primary);
		}
		&.warning {
			color: var(--color-warning);
		}
		&.danger {
			color: var(--color-danger);
		}
	}

	&.disabled {
		background: var(--color-input-disable);
	}
}
