.maps-list {
	background: #f3f3f3;
	display: flex;
	flex-flow: column;
	.header {
		padding: 8px 8px 0 8px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
		.title {
			font-size: 14px;
			white-space: nowrap;
		}
		.toolbar {
			display: flex;
			justify-content: center;
			align-items: center;
			& > * + * {
				margin-left: 4px;
			}
			svg {
				cursor: pointer;
			}
		}
	}
	.maps-list-item {
		display: flex;
		align-items: center;
		.error-indicator {
			background: rgb(168, 34, 0);
			border-radius: 100%;
			width: 10px;
			height: 10px;
			margin-right: 8px;
		}
		&.modify {
			color: rgb(230, 175, 65);
		}
	}
}

.json-map-editor {
	height: 100%;
	.preview-map {
		height: 100%;
		padding: 8px;
		.title {
			font-size: 14px;
			margin-bottom: 8px;
		}
		.error-valid-json {
			color: rgb(168, 34, 0);
			font-size: 14px;
		}
		.text-content {
			font-size: 12px;
		}
	}
}

.create-map-popup {
	font-size: 14px;
	display: flex;
	flex-flow: column;
	gap: 8px;
}

.create-map-popup-item {
	* + * {
		margin-top: 4px;
	}
}
