.flat-list {
	overflow: auto;
	.flat-list-item {
		padding: 0 8px;
		color: var(--color-text);
		display: flex;
		align-items: center;
		justify-content: space-between;
		justify-self: center;
		line-height: 140%;
		font-size: 14px;
		cursor: pointer;
		&:hover {
			background: var(--color-hover-item);
		}
		&.active {
			background: var(--color-active-item);
		}
	}
}

.flat-list-context-menu {
	position: fixed;
	z-index: 10;
	background: var(--color-light-bg);
	padding: 8px 0;
	font-size: 12px;
	line-height: 160%;
	border-radius: 2px;
	.item {
		padding: 0 8px;
		cursor: pointer;
		&:hover {
			background: var(--color-hover-item);
		}
	}
}
