.side-bar {
	height: 100%;
	overflow: auto;
	background: rgb(243 243 243);
	width: 50px;
	min-width: 50px;
	.side-bar-item {

		height: 50px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		svg {
			width: 30px;
		}
		svg,
		g,
		path {
			color: rgba(0, 0, 0, 0.7);
			fill: rgba(0, 0, 0, 0.7);
		}
		&.active {
			background: #d8d8d8;
			svg,
			g,
			path {
				color: black;
				fill: black;
			}
		}
	}
}
