.side-bar {
	height: 100%;
	overflow: auto;
	background: rgb(44, 44, 44);
	width: 50px;
	.side-bar-item {
		height: 50px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		svg,
		g,
		path {
			color: white;
			fill: white;
		}
		&.active {
			background: rgb(75, 75, 75);
		}
	}
}
