.code-editor {
	height: 100%;
	display: flex;
	flex-flow: column;
	.ace-editor * {
		font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro,
			monospace;
	}
	.ace-tomorrow .ace_gutter {
		background: var(--color-light-bg);
	}
	.toolbar {
		padding: 8px 8px 8px 16px;
		display: flex;
		align-items: center;
		background: var(--color-medium-bg);
		font-size: 12px;
		gap: 16px;

		.toolbar-item {
			color: var(--color-text);
			line-height: 22px;
			padding: 0 8px;
			border-radius: 5px;
			cursor: pointer;
			&:hover {
				background: var(--color-hover-item);
			}
		}

		.toolbar-item-input {
			display: inline-flex;
			align-items: center;
			gap: 8px;
		}

		.toolbar-group {
			display: flex;
			align-items: center;
		}
	}
}
