.app {
	display: flex;
	height: 100%;
	.content {
		height: 100%;
		width: 100%;
	}
}

body {
	background: white;
	padding: 0;
	margin: 0;
	height: 100vh;
}

* {
	font-family: 'Noto Sans', sans-serif;
	box-sizing: border-box;
}
