.input {
	background-color: var(--color-input-bg);
	color: var(--color-input-text);
	display: inline-flex;

	.input-field {
		color: var(--color-input-text);
		border: none;
		padding: 3px 0 3px 4px;
		width: 100%;
		&:focus-visible {
			outline: none;
		}
		font-size: 14px;
		&:disabled {
			background: var(--color-input-disable);
		}
	}
}
