.code-loader {
	background: #f3f3f3;
	padding: 8px 0;
	overflow: auto;
	.header {
		padding: 0 8px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
		.title {
			font-size: 14px;
		}
		.toolbar {
			display: flex;
			justify-content: center;
			align-items: center;
			& > * + * {
				margin-left: 4px;
			}
			svg {
				cursor: pointer;
			}
		}
	}
	.item-file {
		padding: 0 8px;
		color: rgb(63, 62, 62);
		display: flex;
		align-items: center;
		justify-content: space-between;
		justify-self: center;
		line-height: 140%;
		font-size: 14px;
		cursor: pointer;
		&:hover {
			background: #e8e8e8;
		}
		&.active {
			background: #d8d8d8;
		}
		&.modify {
			color: rgb(230, 175, 65);
		}
		.item-file-icon-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.item-file-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			& > .item-file-icon-wrapper + .item-file-icon-wrapper {
				margin-left: 8px;
			}
		}
	}
}

.codes-list-item-context-menu {
	position: fixed;
	z-index: 10;
	background: white;
	padding: 8px 0;
	font-size: 12px;
	line-height: 160%;
	border-radius: 2px;
	.item {
		padding: 0 8px;
		cursor: pointer;
		&:hover {
			background: #e8e8e8;
		}
	}
}
