.split-panel {
	&:not(.vertical) {
		display: flex;
		flex-direction: row;
	}
	.gutter {
		background-color: var(--color-border);
		cursor: col-resize;
	}

	.gutter.gutter-vertical {
		cursor: row-resize;
	}

	&.drag-split {
		.gutter {
			background-color: var(--color-border);
		}
	}
	.column {
		overflow: hidden;
	}
}
